@if (User.Identity.IsAuthenticated)
{
    <span class="autenticacion navbar-text me-3">@User.Identity.Name</span>
    <a asp-page="/seguridad/logout">
        <button type="submit" class="btn btn-danger btn-sm">Cerrar Sesión</button>
    </a>
}
else
{
    <a asp-page="/seguridad/login">
        <button class ="btn btn-outline-primary btn-sm">Iniciar Sesión</button>
    </a>
}